/* ****Geral**** */

body{
    padding: 0px;
    box-sizing: border-box;
    font: normal 16px/22px Sans-serif !important;
    margin: 0;
}

/* Títulos */

a{
    text-decoration: none;
    color: #FFF;
    display: block;
}
h2{
    font-size: 2.5em ;
}
h2 span, h3{
    font-size: 1.5em;
}
li{
    list-style: none;
    margin-top: 60px;
}

/* *** Mobile *** */

@media (min-width: 320px){
    h1{
        font-size: 4em !important;
    }
    h2{
        font-size: 0.8em !important;
    }
    h3{
        font-size: 1.5em !important;
    }

    .hero-book{
        background: #7738c9;
        padding: 90px 60px;
        color: #FFF;
        margin-top: -100px;
        transform: skewy(10deg);
        text-align: center;

    }
    .title-book, .wrap-book, .wrap-BTN, .cubo{
        transform: skewy(-10deg);
    }
    .title-book h1{
        text-align: left;
        font-size: 4em;
        line-height: 0.6em;
        margin-top: 15px;

    }
    .title-book h1 span{
        font-size: 0.38em;
        display: block;
    }
    .title-book h2{
        text-align: left;
        font-size: 0.67em !important;
        line-height: 3em;
        color: #44d1b6;
        margin-top: -30px;

    }
    .title-book p{
        font-size: 1em;
        background: #44d1b6;
        padding: 10px;
        margin-top: 40px;
        display: inline-block;
    }

    .wrap-book{
        position: relative;
        width: 100%;
        margin-top: 100px;
    }

    .wrap-book .book{
        width: 100%;
    }
    .wrap-book p{
        position: absolute;
        top: -40px;
        left: -50px;
        background: #ffb300 no-repeat;
        width: 68px;
        height: 68px;
        font-size: 0.7em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.2em;
        box-shadow: 0px 3px 6px #000;
        border-radius: 50%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .BTN-orange{
        color: #fff;
        margin-top: 60px;
        background: #FFB300;
        width: 100%;
        padding: 15px 0px;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 0px 0px 0px 2px #FFF, 
                    0px 6px 0px 4px #7738c9, 
                    0px 6px 0px 6px #FFF, 
                    0px 12px 0px 8px #7738c9, 
                    0px 12px 0px 10px #FFF;
    }.cubo {
        position: relative;
        margin: 0 auto;
        top: 110px;;
        width: 70px;
        height: 70px;
    }
    .lado-sup {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #44d1b6;
        transform: rotateZ(45deg) skew(-15deg, -15deg);
    }
    .lado-esq {
        position: absolute;
        top: 53px;
        left: -28px;
        width: 90%;
        height: 60%;
        background-color: #ffffff;
        transform: skewY(30deg);
    }
    .lado-dir {
        position: absolute;
        top: 53px;
        left: 35px;
        width: 90%;
        height: 60%;
        background-color: #7738c9;
        transform: skewY(-30deg);
    }

 /* - ***** Section APRENDER ***** - */
    .aprender{
        text-align: center;
        margin-top: 150px;
    }
    .cards-aprender{
        padding: 0px;
    }
    .title-aprender{
        color: #7738c9;

    }
    .title-aprender p{
        text-transform: uppercase;

    }
    .title-aprender span{
        display: block;
        font-size: 1.7em;
        font-weight: bold;

    }
    .item-cards-aprender i{
        position: relative;
        color: #7738c9;
        width: 68px;
        height: 68px;
        text-align: center;
        text-transform: uppercase;
        padding: 15px;
        border-radius: 50%;
        border: 2px solid #7738c9;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .item-cards-aprender i p{
        position: absolute;
        top: -10px;
        left: 0px;
        background-color: #44d1b6;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .item-cards-aprender span{
        font-size: 50px;
    }

    /* ***** Section Chapter-Book ***** */
    ul{
        margin: 0;
        padding: 0;
    }

    .chapter-book{
        color: #FFF;
        padding: 90px 0 0;
    }
    .wrap-chapter{
        background-color: #7738c9;
        padding: 90px 40px;
        transform: skewY(10deg);
    }
    .subtitle-book, .chapter-description{
        transform: skewY(-10deg);
    }
    .subtitle-book{
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5em !important;
    }
    .subtitle-book-small{
        color: #44d1b6;
        font-size: 0.4em;
        line-height: 2.5em;
        display: block;
    }
    .chapter-description{
        padding: 40px 0;
    }
    .chapter-description:first-of-type{
        padding-bottom: 40px;
        border-bottom: 3px solid #FFF;
    }
    .box-chapter {
        margin-top: -100px;
        text-align: center;
    }
    .item-cards-chapter {
        margin: -2px;
        padding: 30px;
        line-height: 1.4em;
        background-color: #29D89C;
        color: rgba(255, 255, 255, 0.85);
        position: sticky;
        top: 0;
    }
    .item-cards-chapter:nth-of-type(2){
        background-color: #24BF8A;
        top: 20px;
    }
    .item-cards-chapter:nth-of-type(3){
        background-color: #22B381;
        top: 40px;
    }
    .item-cards-chapter:nth-of-type(4){
        background-color: #20A677;
        top: 60px;
    }
    .item-cards-chapter:nth-of-type(5){
        background-color: #1D996E;
        top: 80px;
    }
    .item-cards-chapter:nth-of-type(6){
        background-color: #1B8C65;
        top: 100px;
    }
    .item-cards-chapter:nth-of-type(7){
        background-color: #18805C;
        top: 120px;
    }
    .item-cards-chapter:nth-of-type(8){
        background-color: #167353;
        top: 140px;
    }
    .item-cards-chapter:nth-of-type(9){
        background-color: #13664A;
        top: 160px;
    }
    .item-cards-chapter:nth-of-type(10){
        background-color: #115941;
        top: 180px;
    }
    .icon-cards-chapter{
        background-color: #7738c9;
        width: 75px;
        height: 75px;
        display: grid;
        border-radius: 50%;
        margin: 0 auto;
        align-items: center;
    }
    .material-symbols-outlined{
        margin-top: -10px;
    }

    /* *** Section Author *** */

    .wrap-photo-author{
        width: 256px;
        height: 256px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .wrap-photo-author img {
        position: relative;
        width: 85%;
        top: 13px;
        left: 17px;
        z-index: 3;
    }
    .roxo {
        position: relative;
        background: #7738c9;
        width: 88%;
        height: 95%;
        top: -452px;
        left: 31px;
        z-index: 2;
    }
    .verde {
        position: relative;
        background: #44d1b6;
        width: 85%;
        height: 89%;
        top: -196px;
        z-index: 1;
    }
    .wrap-content-author{
        padding: 0 60px;
    }
    .wrap-content-author header{
        margin-top: 50px;
        text-align: center;
        color: #7738c9;
        line-height: 1.7em;
    }
    .wrap-content-author span{
        display: block;
        font-size: 1.7em;
        font-weight: bold;
    }
    .description-author{
        margin: 30px 0 60px;
        font-size: 1em;
    }

    /* *** Section Forms *** */

    .forms{
        background-color: #44d1b6;
        color: #FFF;
        padding: 30px;
    }
    .subtitle-forms{
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.5em;
        text-align: center;
    }
    .subtitle-forms p{
        color: #7738c9;
    }
    .subtitle-forms span{
        color: #FFF;
        font-size: 1.7em;
        display: block;
        text-align: center;
    }
    .description-forms, .contact-form{
        margin-top: 40px;
    }
    .title-form{
        color: #fff !important;
        font-size: 1em !important;
    }
    input {
        color: #fff !important;
        border-bottom: 1px solid#fff !important;
        margin-bottom: 30px !important;
    }
    ::placeholder{
        color: #ffffff80 !important;
    }
    /* label color */
   .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
    .BTN-green{
        color: #fff;
        background: #1B8C65;
        width: 100%;
        margin-top: 10px;
        padding: 15px 0px;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 0px 0px 0px 2px #FFF, 
                    -4px 4px 0px 0px #44d1b6, 
                    -4px 4px 0px 2px #FFF, 
                    -8px 8px 0px 0px #44d1b6, 
                    -8px 8px 0px 2px #FFF;
    }

    /* *** Section Download *** */

    .download{
        background: linear-gradient(-170deg, #44d1b6 13%, #7738c9 0%);
        padding: 90px 50px 50px;
    }
    .livro-image{
        margin: 100px auto 30px;
        padding: 0 15px;
        width: 100%;
    }
    .subtitle-livro{
        margin: 20px auto;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.9em !important;
        line-height: 2.5em;
        color: #44d1b6;
        font-weight: bold;
    }
    .description-download{
        color: #FFF;
        font-size: 0.6em;
        line-height: 1.3em;
        display: block;
    }
    .copyright p{
        margin: 0;
        padding: 20px;
        background: #5b2b99;
        color: #fff;
        font-size: 0.7em;
        text-align: center;
    }
}

    /* *** Tablet *** */

@media (min-width: 426px){
    .wrap-book .book {
        width: 70%;
    }
    .wrap-book p{
        top: -40px;
        left: 10%;;
    }
    .BTN-orange .BTN-green{
        width: 80%;
        margin: 70px auto 0;
    }
    .forms{
        padding: 90px;
    }
    .livro-image{
        padding: 0 15px;
    }
}

    /* *** Desktop *** */

 @media (min-width: 960px) {
    .hero-book{
        margin: 0;
        height: 620px;
        padding: 20px 100px;
        background: linear-gradient(-173deg, #7738c9 77%, #fff 0%);
        transform: skewy(0deg);             /*Rotação desta section zerada*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .title-book, .wrap-book, .wrap-BTN, .cubo{
        position: relative;
        transform: skewy(0deg);             /* Rotação zerada dos itens que compunham a section .hero-book */
    }
    .title-book{
        top: 20%;
        left: -70%;
        text-align: justify;
        
    }
    .title-book p{
        font-size: 0.7em;
        width: auto;
        line-height: 0px;
    }
    .wrap-book{
        margin: 0;
        top: 30%;
        left: 150%;
    }
    .wrap-book p{
        position: relative;
        top: -15%;
        left: 70%;

    }
    .wrap-BTN{
        left: 50%;
        width: 200px;
    }
    .BTN-orange{
        width: 50%;
        height: 6%;
        font-size: 0.8em;
        margin: 0px;
        padding: 1px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 0px 2px #FFF, 
                    4px 4px 0px 0px #7738c9, 
                    4px 4px 0px 2px #FFF, 
                    8px 8px 0px 0px #7738c9, 
                    8px 8px 0px 2px #FFF;
    }
    .cubo{
        top: 0;
        left: 100%;
    }



}