/* ****Geral**** */

body{
    padding: 0px;
    box-sizing: border-box;
    font: normal 16px/22px Sans-serif;
    margin: 0;
}

/* Títulos */

a{
    text-decoration: none;
    color: #FFF;
    display: block;
}
h2{
    font-size: 2.5em;
}
h2 span, h3{
    font-size: 1.5em;
}
li{
    list-style: none;
}

/* ***Hero Book*** */

@media (max-width: 768px){
    .hero-book{
        background: #7738c9;
        padding: 90px 60px;
        color: #FFF;
        margin-top: -100px;
        transform: skewy(10deg);
        
    }
    .title-book, .wrap-book, .wrap-BTN, .cubo{
        transform: skewy(-10deg);
    }
    .title-book h1{
        font-size: 4em;
        line-height: 0.8em;
    }
    .title-book h1 span{
        font-size: 0.38em;
        display: block;
    }
    .title-book h2{
        font-size: 0.8em;
        color: #44d1b6;
    }
    .title-book p{
        font-size: 1em;
        background: #44d1b6;
        padding: 15px;
        display: inline-block;
    }

    .wrap-book{
        position: relative;
        width: 100%;
    }

    .wrap-book .book{
        width: 100%;
    }
    .wrap-book p{
        position: absolute;
        top: -40px;
        left: -50px;
        background: #ffb300 no-repeat;
        width: 68px;
        height: 68px;
        font-size: 0.7em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.2em;
        box-shadow: 0px 3px 6px #000;
        border-radius: 50%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .BTN-orange{
        margin-top: 60px;
        background: #FFB300;
        width: 100%;
        padding: 15px 0px;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 0px 6px 0px 2px #7738c9,
                    0px 6px 0px 4px #FFF,
                    0px 12px 1px 6px #7738c9,
                    0px 12px 1px 8px #FFF;
    }.cubo {
        position: relative;
        margin: 0 auto;
        top: 110px;;
        width: 70px;
        height: 70px;
    }
    .lado-sup {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: rotateZ(45deg) skew(-15deg, -15deg);
    }
    .lado-esq {
        position: absolute;
        top: 53px;
        left: -28px;
        width: 90%;
        height: 40%;
        background-color: #44d1b6;
        transform: skewY(30deg);
    }
    .lado-dir {
        position: absolute;
        top: 53px;
        left: 35px;
        width: 90%;
        height: 40%;
        background-color: #6709e2;
        transform: skewY(-30deg);
    }

/* - ***** Section APRENDER ***** - */
    .aprender{
        text-align: center;
    }
    .cards-aprender{
        padding: 0;        
    }
    .title-aprender{
        
    }
    .title-aprender p{
        text-transform: uppercase;

    }
    .item-cards-aprender i{
        position: relative;
        color: #7738c9;
        width: 68px;
        height: 68px;
        text-align: center;
        text-transform: uppercase;
        padding: 15px;
        border-radius: 50%;
        border: 2px solid #7738c9;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .item-cards-aprender i p{
        position: absolute;
        top: -10px;
        left: 0px;
        background-color: #44d1b6;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}